<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose Flights!
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add Flight</a>
    </h1>
    <p>Welcome to the Flight Log!</p>
    
  </body>
</html>
